# Node.js modules
node_modules/

# Distribution files
dist/
build/

# IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Debug files
*.log
*.DS_Store

# Temporary files
*~.swp

# Environment configuration
.env

# Compiled source
*.js
*.js.map

# Packages
*.tgz
*.tar.gz

# WXT specific files
.wxt/

# Playwright-specific files
/test-results
/playwright-report

# Biome cache
./.biome
