# Node.js
node_modules/

# Build artifacts
dist/
bundle/
*.js.map
coverage/
.turbo/

# IDE / Editor
.idea/
.vscode/
*.iml
.DS_Store

# System Files
.env
.env.local

# Logs
*.log
*.txt

# Tauri
/src-tauri/target/
/src-tauri/dist/

# WXT
.wxt/

# Biome cache
.biome/
