# Node.js modules
node_modules/

# Parcel bundler
.parcel-cache
dist/

# Yarn Package Manager
.yarn/

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Browser extension packaging
web-ext-artifacts/

# Log files
*.log

# Dependency management
yarn-error.log*

# Environment configuration
.env
.env.*

# Temporary files
*~

# Mac OS
.DS_Store

# Chrome Extension Manifest V3 Build Files
build/
